{
    "root": true,
    "env": {
        "es6": true,
        "browser": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json",
        "tsconfigRootDir": "next"
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "airbnb-typescript",
        "prettier"
    ],
    "plugins": ["prettier"],
    "ignorePatterns": [".next.config.js"],
    "rules": {
        "@typescript-eslint/comma-dangle": "off",
        "import/prefer-default-export": "off",
        "jsx-a11y/anchor-is-valid": "off",
        "jsx-quotes": [2, "prefer-single"],
        "comma-dangle": "off",
        "linebreak-style": ["error", "windows"],
        "max-len": "off",
        "no-console": "off",
        "no-param-reassign": "off",
        "no-plusplus": "off",
        "no-return-assign": "off",
        "no-unused-expressions": "off",
        "object-curly-newline": "off",
        "react/forbid-prop-types": "off",
        "react/jsx-filename-extension": "off",
        "react/jsx-first-prop-new-line": [2, "multiline"],
        "react/jsx-max-props-per-line": [
            2,
            {
                "maximum": 1,
                "when": "multiline"
            }
        ],
        "jsx-a11y/label-has-associated-control": "off",
        "react/jsx-props-no-spreading": "off",
        "react/react-in-jsx-scope": "off",
        "react/require-default-props": "off"
    }
}
